# Writing data to and reading data from a Database using Python

## Libraries and settings

In [29]:
# Libraries
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/data_analytics/Week_02

## Create sqlite data base

In [30]:
# Create data base
conn = sqlite3.connect('supermarket_database.db') 
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

supermarket_database.db
apartment_database.db

## Create SQL-table in the database

In [31]:
cursor.execute('''CREATE TABLE IF NOT EXISTS supermarkets_table (OrderId VARCHAR(50),
               Adress VARCHAR(200),
               Brand VARCHAR(50))''')
# Confirm changes to the table
conn.commit()

## Read data from file to data frame

In [32]:
df = pd.read_csv('supermarkets_data_prepared.csv', sep=',', encoding='utf-8')[['id', 'brand', 'city']]
print(df.shape)
df.head(5)

(3392, 3)

         id   brand    city
0  33126515    Spar     NaN
1  36726161  Migros  Uznach
2  39768209    Coop  Uznach
3  39947904    Coop  Zürich
4  48932835  Migros  Zürich

## Write data to the SQL-table in data base

In [33]:
df.to_sql(name = 'supermarkets_table',
          con = conn,
          index = False,
          if_exists = 'replace')

3392

## Übung (Task 4)

### 1. Additional SQL-queries (All supermarkets in the city of Winterthur)

In [34]:
# Query the SQL-table
cursor.execute('''SELECT *
               FROM supermarkets_table
               WHERE city == 'Winterthur';''')

df = pd.DataFrame(cursor.fetchall(), 
                  columns=['ID','Brand','City'])    
df

             ID          Brand        City
0      70656488         Migros  Winterthur
1     246533376         Migros  Winterthur
2     548919417         Migros  Winterthur
3     677194765           None  Winterthur
4     706203439           None  Winterthur
5     709022324           None  Winterthur
6    1328945987         Migros  Winterthur
7    1519474175         Denner  Winterthur
8    3831772784         Migros  Winterthur
9    4058248551         Migros  Winterthur
10   4095400178           None  Winterthur
11   4095400190           ALDI  Winterthur
12   4109460421           None  Winterthur
13   4125136758           None  Winterthur
14   4189897383           None  Winterthur
15   4209642918           None  Winterthur
16   4379763119       Alnatura  Winterthur
17   4471606841         Migros  Winterthur
18   4816412575         Migros  Winterthur
19   4978196565           None  Winterthur
20   7418113614           Coop  Winterthur
21   7685095602  Migros-Outlet  Winterthur
22   8519878942           None  Winterthur
23   9040336565         Migros  Winterthur
24   9040336566         Denner  Winterthur
25   9985258254           ALDI  Winterthur
26  10221262155           None  Winterthur

## Close db connection (if open)

In [35]:
# Close db connection (if open)
try:
    if check_conn(conn):
        conn.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(conn))

False

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [36]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 6.8.0-1014-azure
Datetime: 2024-09-25 18:22:33
Python Version: 3.11.10
-----------------------------------