## Exercises large classes (Week_02)

## Python libraries and settings

In [1]:
# Python libraries
import os
import re
import pandas as pd
import matplotlib.pyplot as plt

# Settings
import warnings
warnings.filterwarnings("ignore")

# Get working directory
print(os.getcwd())

/workspaces/data_analytics/WTYK/LC_02

### BigmacPrice.csv

In [9]:
# Read BigmacPrice.csv to data frame
df = pd.read_csv('BigmacPrice.csv', sep=',', encoding='utf-8')
df
# Print header
print('\n',df.head())

# Show data types


# Show type of 'df'

          date currency_code       name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS  Argentina         2.50          1          2.50
1  2000-04-01           AUD  Australia         2.59          1          2.59
2  2000-04-01           BRL     Brazil         2.95          1          2.95
3  2000-04-01           GBP    Britain         1.90          1          1.90
4  2000-04-01           CAD     Canada         2.85          1          2.85

### ChickenData.xlsx

In [12]:
# Read ChickenData.xlsx to data frame
df = pd.read_excel('ChickenData.xlsx', sheet_name='Sheet1')
df
# Print header


# Show data types
print('\n',df.dtypes)

# Show type of 'df'
print('\n',type(df))

# Create dictionary from the data frame with breed (keys) and eggs_per_year (values)
dict = df.set_index('Breed').to_dict()['EggsPerYear']

# Print the dictionary

 chicken_id         int64
weight           float64
breed             object
eggs_per_year      int64
dtype: object

 <class 'pandas.core.frame.DataFrame'>

KeyError: "None of ['Breed'] are in the columns"

### Cars_autoscout24.csv

In [26]:
# Linux commands to get/set encoding of file (run in terminal)
# file -i Cars_autoscout24.csv
# --> provides 'charset=unknown-8bit'
# --> download the file and open with e.g. Notepad++ (on Windows)
# --> shows ANSI which is "windows-1252" (see https://de.wikipedia.org/wiki/Windows-1252)

# Convert to UTF-8, if needed, otherwise, use encoding='cp1252' in pd.read_csv
# iconv -f "windows-1252" -t "UTF-8" Cars_autoscout24.csv -o Cars_autoscout24_utf8.csv

# Read Cars_autoscout24.csv to data frame
df = pd.read_csv('Cars_autoscout24.csv', sep=';', encoding='cp1252')
df

# Function to extract numerical values from the column 'Price'
def extract_numerical_value(price):
    # Regular expression to extract numerical values
    match = re.search(r"\d+'\d+)", price)
    if match:
        return int(match.group())
    else:
        return None


# Apply the function to the column 'Price' and create a new column 'Price_numeric'
df['Price_numeric'] = df['Price'].apply(extract_numeric)


# Display the DataFrame
df

,Offer_Id,Type,Price,PS,Init_Regist,Kilometer,Fuel_Type,Transmission,Price_numeric
0,7324420,AUDI A5 Sportback 3.0 TDI quattro S-tronic (Li...,CHF 22'500.–,245 PS,10.2014,75'000 km,Diesel,Automatisiertes Schaltgetriebe,22
1,7512768,MERCEDES-BENZ SLK 200 7G-Tronic (Cabriolet),CHF 23'749.–,184 PS,6.2013,46'655 km,Benzin,Automat sequentiell,23
2,7512034,MERCEDES-BENZ C 350 Avantgarde 4Matic 7G-Troni...,CHF 18'500.–,306 PS,6.2011,138'955 km,Benzin,Automat sequentiell,18
3,7512728,MERCEDES-BENZ A 45 AMG 4Matic Speedshift 7G-DC...,CHF 36'000.–,360 PS,8.2015,43'000 km,Benzin,Automatisiertes Schaltgetriebe,36
4,7490242,AUDI A5 Sportback 2.0 TFSI Sport quattro S-tro...,CHF 48'500.–,252 PS,9.2018,43'300 km,Benzin,Automatisiertes Schaltgetriebe,48
...,...,...,...,...,...,...,...,...,...
3975,7137137,FERRARI F360 Spider (Cabriolet),CHF 58'400.–,400 PS,2.2002,78'000 km,Benzin,Automatisiertes Schaltgetriebe,58
3976,6758841,MERCEDES-BENZ SL 500 560 SL (Cabriolet),CHF 15'900.–,232 PS,1.1987,315'000 km,Benzin,Automatik-Getriebe,15
3977,7461330,MERCEDES-BENZ CL 63 AMG 7G-Tronic (Coupé),CHF 42'000.–,525 PS,8.2007,85'000 km,Benzin,Automat sequentiell,42
3978,7005403,BMW 328i Cabrio (Cabriolet),CHF 9'980.–,193 PS,8.1995,188'920 km,Benzin,Schaltgetriebe manuell,9
3979,7200843,BMW 328i Cabrio Sport (Cabriolet),CHF 13'500.–,193 PS,4.1999,134'000 km,Benzin,Schaltgetriebe manuell,13

### Histogram of car prices

In [27]:
# Plotting the histogram of car prices
plt.figure(figsize=(10, 6))